<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<table class="list">
    <tr class="list-item">
        <td class="td-description">
            <label for="sbmt-1">Products JSON (3 seconds)</label>
            <input type="submit" id="sbmt-1" value="Download" data-id="1"/>
            <input type="button" id="cancel-1" class="hidden" value="Cancel" data-id="1"/>
        </td>
        <td class="td-status">
            <div id="status-1" data-id="1"></div>
        </td>
        <td class="td-loading">
            <div class="spinner hidden" data-id="1" id="spinner-1"><img src="images/spinner.gif" alt="spinner.gif">
            </div>
        </td>
    </tr>

    <tr class="list-item">
        <td class="td-description">
            <label for="sbmt-2">Electronics JSON (4 seconds)</label>
            <input type="submit" id="sbmt-2" value="Download" data-id="2"/>
            <input type="button" id="cancel-2" class="hidden" value="Cancel" data-id="2"/>
        </td>
        <td class="td-status">
            <div id="status-2" data-id="2"></div>
        </td>
        <td class="td-loading">
            <div class="spinner hidden" data-id="2" id="spinner-2"><img src="images/spinner.gif" alt="spinner.gif">
            </div>
        </td>
    </tr>
</table>

<div class="output"></div>

<script src="javascripts/main.js" type="module"></script>
</body>
</html>
